{% extends 'templates/base.html' %}

{% block base %}
<div hx-target="this" hx-swap="outerHTML">
  <form>
    {% csrf_token %}
    <div hx-target="this" hx-swap="outerHTML">
        {{ form.as_p }}
        <button hx-post="{% url 'preview' %}" type="submit">Preview</button>
    </div>
    <button hx-get="{% url 'edit-markdown' title %}" type="submit">Edit</button>
    <button hx-post="{% url 'edit-markdown' title %}" class="btn btn-success"
      type="submit">Save</button>
  </form>
</div>
{% endblock %}
